nav {
  background: black;
  color: white;
  padding: 1% 4%;
  display: flex;
  align-items: center;
  .logo-navMenu-container {
    display: flex;
    align-items: center;
    .logo {
      width: 8%;
      img {
        width: 100%;
        height: 100%;
      }
      margin-right: 3rem;
    }
    .navMenu {
      display: flex;
      list-style: none;
      li {
        margin-right: 1rem;
      }
    }
  }
  .icons-user-container {
    display: flex;
    align-items: center;
  }
  .icons-user-container > * {
    margin-left: 2rem;
  }
  a {
    color: white;
    text-decoration: none;
  }
}
