.shows-container {
  color: white;
  margin: 3vw 0 0 3vw;
  overflow-x: hidden;
  .title-container {
    display: flex;
    &:hover > .title-arrow {
      display: inline-block;
    }
    .title {
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }
    .title-arrow {
      display: none;
      margin: 0.5vh 0 0.5vh 0.5vh;
    }
  }

  .tv-show-image {
    border-radius: 5px;
    width: 15vw;
    margin-right: 7px;
  }
  .images-container {
    display: flex;
  }
}
